<div class="center">
    <form class="center floating_box">
        <table>
            <tr>
                <td><label for="login">Nazwa użytkownika:</label></td>
                <td><input id="login" type="text"/></td>
            </tr>
            <tr>
                <td><label for="password">Hasło:</label></td>
                <td><input id="password" type="password"/></td>
            </tr>
        </table>
        <input class="pretty_input" type="button" value="Zaloguj" onclick="loginUser(login.value, password.value)"/>
        <text id="login_response"></text>
    </form>
</div>